.console {background-color: black;color: green;font-weight: bold;padding: 0.5em 0 0.5em 0.5em;height:200px;overflow:auto;margin-top: 40px;}

.tabletoplink {float: right;padding-right: 2px;font-size: 75%;}
.tabletoplink a {text-decoration:none;}
.tabletoplink a:hover{text-decoration:none;color:#069;}
.tabletoplink a:visited{text-decoration:none;color:#fff;}
.tabletoplink ul {list-style:none;}
.tabletoplink ul li {background-image:none;}
.tabletoplink img {vertical-align: middle;}

.tabletoptitle {float: left;}

#backlink {text-align:right;margin-bottom:5px;}
#backlink a {text-decoration:none;}
#backlink img {vertical-align: middle;}

#type-e #flag {position:absolute;top:35px;left:auto;right:25px;width:165px;text-align:center;}

.smalldateblock {float: right;font-size: 75%;text-align: right;background-color: #F1F1F1;padding: 2px;
    border-bottom: 1px solid #900;
    border-top: 1px solid #900;
    border-left: 1px solid #900;
    border-right: 1px solid #900;
    }

.smallInTitle {font-size: 48%;}

.submit{
	float: right;
}

.multipleSelectBoxControl span { /* Labels above select boxes*/
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
}

.multipleSelectBoxControl div select { /* Select box layout */
	font-family: arial;
	height: 100%;
}

.multipleSelectBoxControl input { /* Small butons */
	width: 25px;
}

.multipleSelectBoxControl div {
	float: left;
}

/* pagination Ajax */
div.disabled {
	display: none;
}

/*element.style {
float:left;
margin-bottom:15px;
margin-left:0;
margin-right:0;
margin-top:15px;
}*/

.log_viewer {
	width:90%;
	padding: .5em .5em 0 .5em ;
	background: #e1e1e1 url("images/logobox_bg.png") no-repeat 100% 100%;
	border: 3px #d7d7d7 dashed;
	position:relative;
}